<ion-header>
  <ion-toolbar>
    <ion-title>Buscar</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar id="barraBusqueda" placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <productoLista></productoLista>
    <productoLista></productoLista>
    <productoLista></productoLista>
    <productoLista></productoLista>
    <productoLista></productoLista>
    <productoLista></productoLista>
    <productoLista></productoLista>
    <productoLista></productoLista>
    <productoLista></productoLista>
    <productoLista></productoLista>
    <productoLista></productoLista>
    <productoLista></productoLista>
    <productoLista></productoLista>
    <productoLista></productoLista>
    <productoLista></productoLista>
  </ion-list>
  
    
 
</ion-content>
